<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-witdth, initial-scale=1.0">
        <title>Demonstration</title>
    </head>
    <body>
        <div name="Log out">
            <form action="/" method="post">
                <button name="Log out">Log out</button>
            </form>
        </div>


        <h1>Welcome</h1>
        
        <div name="Profile">
            <form action="/profile" method="post">
                <button name="Profile">Profile</button>
            </form>
        </div>
    
        
        <p><i>Other people's profiles here</i></p>
        <br>
        <p>Search other profiles</p>
        <input type="text">
    </body>
</html>
