<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demonstration</title>
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="/css/profile.css" rel="stylesheet">
    </head>
    <body>
        
        <%# <p>name: profile.name </p> %>

        <div name="back">
            <form action="/home" method="post">
                <button class="btn btn-outline-primary" name="back" >Back</button>
            </form>
        </div>
        
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2 class="fw-normal">Michael Million</h2>
            <p><a class="btn btn-outline-primary" href="#" fill="#1b7ced">Edit</a></p>
            <p>Tech Genius</p>
            <p>Own planet</p>
            <div>
                <!--Oi Sharif wag1-->
                <div>                                 
                  <a href="#" </a>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"  aria-label="Placeholder:  Interests" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#ffffff"/>
                            <text x="50%" y="50%" fill="#000000" dy=".3em">Interests </text>
                        </svg>
                    </div>
                    
                    <div class="col p-4 d-flex flex-column position-static">
                      
                      <h3 class="mb-0">About me:</h3>
                      
                      <p class="card-text mb-auto">Hi I am Mike the knight and i just like to have a good time.</p>
                      
                    </div>
                </div>

            <div>
                <link href="/css/profile.css" rel="stylesheet">
                <div class="float-container">

                    <div class="float-child-left">
                        <div class="green">Interests</div>
                    </div>
                        
                    <div class="float-child-right">
                        <div class="blue">About me:</div>
                    </div>
                        
                </div>

            </div>
                    
            
        </div>            


    </body>
</html>