<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-witdth, initial-scale=1.0">
        <title>Demonstration</title>
    </head>
    <body>

        <%# <p>name: profile.name </p> %>

        <div name="back">
            <form action="/home" method="post">
                <button name="back">Back</button>
            </form>
        </div>
        <h1>This is you</h1>
            


    </body>
</html>